body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.studio {
    color: var(--navyblue, #2E2F42);
}
.menu-nav {
color: var(--navyblue, #2E2F42);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}
:hover.menu-nav {
    color: #404bbf;
}
:focus.menu-nav {
    color: #404bbf;
}
.adress {
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
:hover.adress {
    color: #404bbf;
}
:focus.adress {
    color: #404bbf;
}
.hero-image {
    background: var(--navyblue, #2E2F42);
}
.hero-image-text {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.main-page-button {
    background: var(--iris, #4D5AE5);
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
:hover.main-page-button {
    color: #404BBF;
}
:focus.main-page-button {
    color: #404BBF;
}